.searchResult {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    .header {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        span {
            font-size: 18px;
        }

        .text-xl {
            margin-top: 20px;
        }
    }

    .info0 {
        display: flex;
        .imgCotainer {
            flex: 1;
            position: relative;
            bottom: 90px;
        }

        .info2 {
            flex: 3;
        }
    }

    .info {
        margin-top: 50px;
        .info1 {
            display: flex;
            flex-direction: row;
        }
        .info1D {
            margin-right: 100px;
            span {
                color: #000;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
            }
            p {
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 1.5;
                text-align: left;
            }
        }

        .info2 {
            margin-top: 30px;
        }

        .info2D {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .dataTable {
        margin-top: 30px;
        h3 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
        }
    }
}
@media (max-width: 1082px) {
    .info0 {
        .imgCotainer {
            display: none;
        }
    }
}
