.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .appBarAvatar {
        position: relative;
        right: 20px;
        top: 12px;
    }
    .appBarAvatar:hover {
        cursor: pointer;
    }
    .adminInfo {
        width: 200px;
        position: absolute;
        padding: 0.5rem;
        top: 50px;
        transform: translateX(-82%);
        border-radius: 0.5rem;
        overflow: hidden;
        z-index: 3;
        color: #fff;
        line-height: 1.2;
        background-color: #151515;
        -webkit-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.48);
        -moz-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.48);
        box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.48);
        .menuItem {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 0.8rem;
        }
        .menuItem:hover {
            background-color: #2e2d2d;
            cursor: pointer;
        }
    }
}
