.footer {
    color: white;
<<<<<<< HEAD
    img {
        flex: 1;
=======
    background: #1a1a1a;
    margin-top: 50px;
    img {
        flex: 2;
>>>>>>> 5bef568 (styling footer)
        width: 50px;
        height: 50px;
    }
    .title {
        flex: 4;
    }
<<<<<<< HEAD
    .footer-widget-area-bg {
        background: #1a1a1a;
=======
    .footer-widget-area {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        padding-top: 50px;
>>>>>>> 5bef568 (styling footer)
    }
    .about-footer {
        border-bottom: 1 px solid #2c2c2c;
        margin-bottom: 60 px;
        padding-bottom: 50 px;
    }
    .row {
        display: flex;
        margin-right: -15 px;
        margin-left: -15 px;
<<<<<<< HEAD
=======
        justify-content: space-between;
        padding: 20px;
>>>>>>> 5bef568 (styling footer)
    }
    p {
        font-size: 18px;
        color: white;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.01em;
        margin: 0 0 12 px;
        padding: 0;
    }
<<<<<<< HEAD
    .footer-widget-area .textwidget p {
        padding-left: 42 px;
    }
    .fa-envelope-o:before {
        content: "\f003";
=======
    .textwidget p {
        position: relative;
        left: 20px;
        bottom: 10px;
>>>>>>> 5bef568 (styling footer)
    }
    .footer-widget-area .footer-widget-header h3 {
        position: relative;
        font-size: 24px;
        margin-bottom: 24 px;
        text-transform: uppercase;
        font-family: "Dosis", sans-serif;
        letter-spacing: 0.03em;
        font-weight: 500;
        display: inline-block;
        color: #ffffff;
    }
    a {
        color: #ffffff;
    }
    .footer-widget-area .fa-footer {
        display: inline;
        text-align: center;
        width: 12 px;
        height: 12 px;
        color: #fe555f;
        padding: 4 px 6 px 6 px 0;
        margin-right: 0 px;
    }
    .footer-widget-area .fa-contact {
<<<<<<< HEAD
        display: inline-block;
        text-align: center;
        width: 12 px;
        height: 12 px;
        color: #fe555f;
        padding: 6 px 6 px 6 px 0;
        margin-right: 6 px;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14 px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
=======
        width: 18 px !important;
        height: 18 px !important    ;
        color: #fe555f;
        padding: 6 px 6 px 6 px 0;
        margin-right: 6 px;
        position: relative;
        top: 10px;
    }
    .footer-useful-links {
        position: relative;
        top: 10px;
        right: 10px;
    }
    .footer-useful-links li {
        padding: 5px;
        letter-spacing: 0.05rem;
        font-size: 18px;
    }
    .footer-useful-links li a i {
        margin-right: 10px;
    }
    .copyright p {
        padding: 10px;
        font-size: 14px;
>>>>>>> 5bef568 (styling footer)
    }
}
