.carousel {
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    background: red;
    object-fit: contain;
    height: auto;
    width: auto;
    padding: 10px;
  }
  .ant-carousel .slick-next:focus {
    background-color: red;
    color: white;
  }
  .ant-carousel .slick-prev,
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-prev:focus {
    left: 10px;
    z-index: 2;
    background: red;
    font-size: 30px;
    color: white;
  }

  .ant-carousel .slick-next,
  .ant-carousel .slick-next:hover {
    right: 10px;
    background: red;
    z-index: 2;
    font-size: 30px;
    color: white;
  }
}
