@import "../fonts/fonts.scss";
@import "../../src/components/advise-section/advise.scss";
@import "../../src/pages/organization/[id]/style.scss";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
body,
input,
button {
  font: 14px "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none !important;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* top bar progress*/
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(255, 35, 35);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.carousel {
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    background: red;
    object-fit: contain;
    height: auto;
    width: auto;
    padding: 10px;
  }
  .ant-carousel .slick-next:focus {
    background-color: red;
    color: white;
  }
  .ant-carousel .slick-prev,
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-prev:focus {
    left: 10px;
    z-index: 2;
    background: red;
    font-size: 30px;
    color: white;
  }

  .ant-carousel .slick-next,
  .ant-carousel .slick-next:hover {
    right: 10px;
    background: red;
    z-index: 2;
    font-size: 30px;
    color: white;
  }
  .slider-info {
    background: rgba(255, 255, 255, 0.9);
    padding: 24px 0px 48px;
    z-index: 1;
    .content {
      padding: 10px;
    }
    .content h3 {
      font-family: "Source Sans Pro", sans-serif;
      color: #1a1a1a;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      line-height: 50px;
      margin: 16px 0 0;
    }
    .content h2 {
      letter-spacing: 0.03em;
      position: relative;
      overflow: hidden;
      font-family: "Source Sans Pro", sans-serif;
      line-height: 70px;
      font-weight: 700;
      margin: 24px 0 0;
      color: #1a1a1a;
      text-transform: uppercase;
    }
  }

  .slider-info:before,
  .slider-info:after {
    content: "";
    width: 130px;
    height: 130px;
    background: transparent;
    border: 5px solid #fe3c47;
    position: absolute;
    z-index: -1;
  }
  .slider-info:after {
    bottom: 0;
    left: 0;
    border-top: 0;
    border-right: 0;
  }
  .slider-info:before {
    top: 0;
    right: 0;
    border-bottom: 0;
    border-left: 0;
  }
}
.stuck {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  background: rgba(255, 255, 255, 0.97);
  width: 100%;
  padding: 0px;
  margin: 0 !important;
}
.loginContainer {
  display: flex;
  width: 1100px;
  height: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 86px -23px rgba(122, 112, 122, 1);
  -moz-box-shadow: 10px 10px 86px -23px rgba(122, 112, 122, 1);
  box-shadow: 10px 10px 86px -23px rgba(122, 112, 122, 1);
}
.asidepic {
  flex: 5;
  background-color: #d4d4d4;
}
.loginForm {
  flex: 4;
  background-color: rgba(255, 255, 255, 0.9);
}
.loginMain {
  height: 80%;
  width: 90%;
  margin: auto;
}

.loginTitle {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 750;
  color: #1a1a1a;
  font-family: "Source Sans Pro", sans-serif;
}
.loginDetail {
  display: flex;
  justify-content: space-between;
  margin: 0 4px 0px 4px;
}
.myLoginForm {
  margin: 20px;
  margin-top: 50px;
}

.loginInput {
  background-color: rgb(182, 181, 180);
}
.loginBtn,
.loginBtn:focus {
  background-color: #f00;
  border: none;
  width: 100%;
}
.loginBtn:hover {
  background-color: rgb(211, 6, 6);
  .social {
    cursor: pointer;
    margin: 0 10px;
  }
}
.custom-btn {
  font-size: 18px;
  background: #fe3c47;
  border: 2px solid #fe3c47;
  color: #ffffff;
  line-height: 32px;
  padding: 10px 24px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.03em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.custom-btn:hover {
  color: white;
}
.volunteerForm {
  grid-column: span 1 / span 1;
}
.asidePicVolunterForm {
  height: 650px;
  bottom: 0;
  left: 0px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 0;
}

.formContain {
  margin: 50px;
  width: 70%;
  float: right;
  display: flex;
  flex-direction: column;
}
.formHeader {
  background-color: #fe3c47;
  text-align: center;
  line-height: 100px;
  height: 100px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.formMain {
  flex: 1;
  background-color: #eaedf1;
  padding: 50px;
}

.requestBloodForm {
  .ant-select-selector {
    height: 40px !important;
  }
  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    display: table;
    margin-top: auto;
    margin-bottom: auto;
  }
  .asidePicRequestBloodForm img {
    height: 706px;
    bottom: 0;
    left: 0px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .formContain {
    width: 40%;
  }
}
.organizationPage {
  .listOrganization {
    div {
      cursor: pointer;
    }
  }
}

.landingPage {
  .formContain {
    width: 90%;
  }
  .volunteerForm {
    width: 600px;
  }
}
// search donate history
.historySearch {
  .ant-form-item-label > label {
    float: left;
  }

  .ant-select-selector {
    height: calc(2.25rem + 2px) !important;
    border-radius: 5px !important;
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    margin-left: 10px;
    position: relative;
  }
}

.historySearchForm {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -1px 33px 39px -40px rgba(153, 145, 153, 1);
  -moz-box-shadow: -1px 33px 39px -40px rgba(153, 145, 153, 1);
  box-shadow: -1px 33px 39px -40px rgba(153, 145, 153, 1);
}

.hisFormInputs {
  display: flex;
  flex-direction: row !important;
  margin: 0 !important;
}

.hisFormLabel {
  display: flex;
  flex-direction: column;
}

.hisFormInput {
  margin-left: 10px;
  width: 200px !important ;
  height: calc(2.25rem + 2px) !important;
  border-radius: 5px !important;
  margin-bottom: 20px;
}

.hisSearchFormBtns {
  width: 20%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.hisSearchFormBtns button {
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10px 10px 10px 0px;
  padding-left: 7px;
}

.hisSearchB:hover {
  background-color: #c71f27 !important;
}

@media (max-width: 1024px) {
  .hisFormInputs {
    flex-direction: column !important;
  }
}
